<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- THE LINE BELOW IS FOR TAILWIND CSS PLUGIN (must add to every html file)  -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- THE LINE ABOVE IS FOR TAILWIND CSS PLUGIN (must add to every html file) -->
    
    <!-- https://tailwindcss.com/docs/installation/play-cdn (this is where line 9 comes from)-->
    <!-- https://tailwindcss.com/ (their documentation is fantastic)-->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <title>Dogs Watch Movies</title>

</head>
<body >
    <div class="   font-bold  text-8xl m-8">
        <h1 >Dogs</h1>
        
        <h1 >Watch</h1>
        
        <h1 >Movies</h1>
    </div>
    <div id="container">
        <button class=" cursor-pointer mx-auto bg-black text-emerald-600 rounded-full w-60 mt-4"><a class=" mx-auto text-3xl cursor-pointer" href="/dashboard">Dashboard</a></button>

    </div>      
</body>
</html>