<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- THE LINE BELOW IS FOR TAILWIND CSS PLUGIN (must add to every html file)  -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- THE LINE ABOVE IS FOR TAILWIND CSS PLUGIN (must add to every html file) -->
    
    <!-- https://tailwindcss.com/docs/installation/play-cdn (this is where line 9 comes from)-->
    <!-- https://tailwindcss.com/ (their documentation is fantastic)-->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <title>Dogs Watch Movies</title>

</head>
<body class="min-h-screen  grid place-content-center radial-yellow">
    <div class=" static inset-x-0 top-10 text-emerald-600  font-bold text-center text-8xl my-10">
        <h1 >Dogs Watch Movies</h1>
        <button class=" cursor-pointer mx-auto bg-black text-emerald-600 rounded-full w-60 mt-4"><a class=" mx-auto text-3xl cursor-pointer" href="/dashboard">Dashboard</a></button>
    </div>
    <div id="container">
        

    </div>      
</body>
</html>