@tailwind base;
@tailwind components;
@tailwind utilities;

/* .radial-yellow{
    background: radial-gradient(rgb(205, 134, 40),black )
} */

#container{
    margin:0px auto;
    width:960px;
    height:560px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    margin-top: 50px;
    
    
}
#container2{
    margin:0px auto;
    width:960px;
    height:560px;
    align-items:center;
    margin-top: 50px;
    
}

 body{
    background-image: url(/static/images/image000000.jpeg);
    height: 100%;
    background-size: cover; 
} 
